* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

nav {
  height: 12vh;
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  font-size: 30px;
}

.links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links > li {
  list-style: none;
}
