* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  min-height: 12vh;
  background-color: #474747;
  display: flex;
  color: #cdcdcd;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: rgb(218, 218, 218);
}

#logo {
  font-weight: 300;
  font-size: 30px;
}

nav > ul {
  min-width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.sidepane {
  position: absolute;
  right: 0%;
  background-color: #474747;
  width: 50%;
  height: 88vh;
}

.sidepane > ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
